@model IEnumerable<SalesWebMvc.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h1><span style="font-weight: bold;">@ViewData["Title"]</span></h1>

<p>
    <a asp-action="Create" class="btn btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="bg-primary">

    <th>
        @Html.DisplayNameFor(model => model.Name)
    </th>
    <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
